<div id="<%= dom_id nft %>">
  <p>
    <strong>Token link:</strong>
    <%= nft.token_link %>
  </p>

  <p>
    <strong>Owner name:</strong>
    <%= nft.owner_name %>
  </p>

  <p>
    <strong>Wallet address:</strong>
    <%= nft.wallet_address %>
  </p>
</div>
