<body data-smooth-scroll-offset="77">
    <div class="nav-container"> </div>
    <div class="main-container">
        <section class="switchable">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-6 col-lg-5">
                        <div class="switchable__text">
                            <h2>Create your LinkdNFT Today!</h2> <span><br></span>
                            <hr class="short">
                            <form>
                                <div class="row">
                                    <div class="col-12"> <input type="text" name="First Name" placeholder="Your Name"> </div>
                                    <div class="col-12"> <input type="email" name="Email Address" placeholder="Link to your LinkedIn Profile"> </div>
                                    <div class="col-12"> <input type="password" name="Password" placeholder="Email Address"> </div>
                                    <div class="col-12"> <input type="password" name="Password-confirm" placeholder="Profile Picture"> </div>
                                    <div class="col-12">
                                      <span>  </span> </div>
                                    <div class="col-12"> <button type="submit" class="btn btn--primary">Purchase</button> </div>
                                    <hr>
                                    <div class="col-12"> <span class="type--fine-print">By purchasing, you agree to the <a href="#">Terms of Service</a></span> </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5"> <%= image_tag "landing-5.jpg", class:"border--round box-shadow-shallow" %> </div>
                </div>
            </div>
        </section>
        <section class="text-center space--sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <a href="#" class="block">
                            <div class="feature boxed boxed--border border--round"> <%= image_tag "iconmonstr-linkedin-1.svg" %> <span class="h5 color--primary"><p>Convert your LinkedIn Profile to an NFT Today! <br></p></span> </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="block">
                            <div class="feature boxed boxed--border border--round"> <%= image_tag "iconmonstr-gear-11.svg" %> <span class="h5 color--primary"><p>We will convert your profile and create you a wallet.&nbsp;</p></span> </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="block">
                            <div class="feature boxed boxed--border border--round"> <%= image_tag "iconmonstr-fingerprint-1.svg" %> <span class="h5 color--primary"><p>Own your LinkedIn Identity today! <br> &nbsp;</p></span> </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="switchable">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-lg-5">
                        <div class="switchable__text">
                            <div class="switchable__text">
                                <h2>Get your own personalised NFT Today!</h2>
                                <p class="lead">You can get your LinkedIn profile picture converted into an NFT. We will put a hold on the $30 as a pre-auth and once we have generated your NFT we will then request the funds.&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-12">
                        <div class="pricing pricing-1 boxed boxed--border boxed--lg text-center">
                            <h4>Turn your LinkedIn Profile to an NFT</h4> <span class="h1"><span class="pricing__dollar">$30 AUD</span></span>
                            <p> This will allow you to convert your current linked into profile into an NFT.&nbsp;</p> g
                            <a class="btn btn--primary" href="#purchase-template"> <span class="btn__text">
                        Purchase Now
                    </span> </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="process-1">
                            <div class="process__item">
                                <h4>Submit LinkedIn Details</h4>
                                <p>To get started you will need to provide the details to your LinkedIn profile and make payment.&nbsp;</p>
                            </div>
                            <div class="process__item">
                                <h4>With 24 hours</h4>
                                <p> Within 24 hours Linkdin will convert your LinkedIn profile to an NFT. This mean's if you have a crypto wallet we will send it to the wallet. If you don't we will send you an email with your wallet credentials, and a link to your brand new NFT.</p>
                            </div>
                            <div class="process__item">
                                <h4>You can share your new NFT on LinkedIn</h4>
                                <p>It's as simple as you changing your display picture on LinkedIn to show your new display picture is an NFT.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer-7 text-center-xs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6"> <span class="type--fine-print">© <span class="update-year">2022 LinkdNFT</span>— All Rights Reserved</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/scripts.js"></script>
